.container {
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}